body {
	background-color: white;
	font-family: Calibri, Sans-serif; 
}

h1 {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	background-color: black;
	color: white;
}

a:link {
	color: #808080;
}

a:visited {
	color: #66cccc;
}

a:hover {
	color: #81d8d0;
}

a:active {
	color: #0066cc;
}

ul {
	background-color: black;
	color: white;
	list-style-image: url(images/kawaii.jpg);
}

div {
	display: inline-block;
}

.Main {
	text-align: center;
	background-color: #1865A1;
	width: 300px;
	border: 1px dashed;
	padding: 5px 5px 5px 5px;
	box-shadow: 5px 5px 5px #3F5261;
}

.Side {
	text-align: center;
	background-color: #77ab59;
	width: 300px;
	border: 1px dashed;
	padding: 5px 5px 5px 5px;
	box-shadow: 5px 5px 5px #3F5261;
}

.Dessert {
	text-align: center;
	background-color: #c87cdf;
	width: 300px;
	border: 1px dashed;
	padding: 5px 5px 5px 5px;
	box-shadow: 5px 5px 5px #3F5261;
}

