@keyframes dancing {
  0%   { transform: translateX(0vw); }
  100% { transform: translateX(80vw); }
}

body {
	background: url(images/beach.jpg)  no-repeat center center fixed;
	background-size: cover;
	font-family: Calibri, Sans-serif; 
}

h1 {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	background-image: url(images/back.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 20px;
	color: white;
	padding: 20px;
	text-align: center;
}

a:link {
	color: black;
}

a:visited {
	color: #66cccc;
}

a:hover {
	color: #81d8d0;
}

a:active {
	color: #0066cc;
}

ul {
	background-color: none;
	color: black;
	list-style-image: url(images/kawaii.jpg);
	font-size: .75em;
	font-weight: bold;
	position: fixed;
}

.hula {
	position: absolute;
	\\transform: translateX(50vw);
	z-index: 5;
	animation: dancing 10s infinite alternate;
}

.section {
	width: 312px;
	display: inline-block;
	vertical-align: top;
	position: relative;
	left: 200px;
	text-align: center;
	width: 300px;
	padding: 5px 5px 5px 5px;
}

img {
	margin: 0;
}

h2 {
	margin: 20px 0 0 0;
	border: 1px dashed black; 
}

.Main {
	background-color: #FF5E00;
	padding: 5px 5px 5px 5px;
}

.Side {
	background-color: #D92B00;
	padding: 5px 5px 5px 5px;
}

.Dessert {
	background-color: #B32400;
	padding: 5px 5px 5px 5px;
}

p {
	font-weight: bold;
	margin: 0;
	height: 125px;
	display: flex;
	justify-content: center;
	align-items: center;
}

audio {
	display: block;
}

.link {
	display: inline-block;
	float: right;
	background-image: url(images/WP_20130526_005.jpg);
	font-size: 20px;
	color: white !important;
	padding: 20px;
}