body {
	background-color: #636363;
	font-family: Calibri, Sans-serif; 
}

h1 {
	position: relative;
	right: 30px;
	top: 50px;
	z-index: -1;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	background-color: black;
	color: white;
}

h2 {
	background-image: url(images/flag.jpg);
	background-size: 100px auto;
	background-repeat: no-repeat;
	background-position: top right;
	background-origin: border-box;
	margin: 0;
}

h2#Spam::before {
	display: block;
	content: "hello";
}

a:link {
	color: #808080;
}

a:visited {
	color: #66cccc;
}

a:hover {
	color: #81d8d0;
}

a:active {
	color: #0066cc;
}

.list {
	background-color: black;
	color: white;
}

.section {
	width: 312px;
	display: inline-block;
	vertical-align: top;
	margin: 0 5px !important;
}

.section:nth-of-type(odd) {
	background-color: yellow;
}

.Main {
	text-align: center;
	background-color: #1865A1;
	width: 300px;
	border: 10px dashed;
	padding: 15px 15px 15px 15px;
	box-shadow: 5px 5px 5px #3F5261;
}

.Side {
	text-align: center;
	background-color: #77ab59;
	width: 300px;
	border: 1px dashed;
	padding: 5px 5px 5px 5px;
	box-shadow: 5px 5px 5px #3F5261;
}

.Dessert {
	text-align: center;
	background-color: #c87cdf;
	width: 300px;
	border: 1px dashed;
	padding: 5px 5px 5px 5px;
	box-shadow: 5px 5px 5px #3F5261;
}

