body {
	font-family: Calibri;
	background-color: #ff32ba;
}

#face {
	display: inline-flex;

}

h1 {
	float: left;
	position: relative;
	background-color: #6fcb9f;
	font-size: 50px;
	padding: 10px;
	text-align: center;
	border: 20px solid #fffeb3;
	width: 400px;
}


#slider {
	width: 400px;
	height: 550px;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
}

#slider figure{
	width: 400px;
	height: 550px;
	margin: 0;
	position: absolute;
	top: 0;
	left: -700px;
	z-index: 1;
	transition: all linear 0.5s;
}

#slider figure:target{
	left:0;
}

#slider figure:first-child {
	left: 0;
}

#slider figure figcaption {
   font-weight: bold;
   position: absolute;
   bottom: 0;
   right: 500px;
   z-index: 2;
   color: #d64525;
   padding: 10px 20px;
   width: 340px;
   background: #000;
   transition: all linear 1s;
   opacity: 0;
}

#slider figure:target figcaption {
	right: 0;
	opacity:1;
}

#sliderPagination {
	position: absolute;
	right: 10px;
	bottom: 10px;
	z-index: 10;
}

#sliderPagination a {
	text-decoration: none;
	background: rgba(255,255,255,0.5);
	padding: 4px 8px;
	color: #333;
	border-radius: 20px;
	transition: all linear 0.5s;
}

#sliderPagination a:hover {
	background: #fff;
	color: #666;
	width: auto;	
}